$red-shade: #c0392b;
$black-shade: #333;
$cream-shade: #eee;
$big-title-font : 'Josefin Sans';
$small-title-font : 'VT323';
$content-font : 'Source Sans Pro';


#section-5{
    color: $black-shade;
    // height: 80vh;
}

.dd{
    width: 10rem;
    height: 2.5rem;
    margin: 2em;
    font-size: 1rem;
}

#section-6{
    background: $black-shade;
    padding: 5%;
    // height: 80vh;
}
