$red-shade: #c0392b;
$black-shade: #333;
$cream-shade: #eee;
$white-shade: #fff;
$big-title-font : 'Josefin Sans';
$small-title-font : 'VT323';
$content-font : 'Source Sans Pro';



#section-2{
    background-color:$white-shade;
    /* height: 80vh; */
}
